{% load static %}
{% load static wagtailuserbar%}
{% load wagtailcore_tags %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
-->
    <!--
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	-->
    {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/mystyles.css' %}">

    <title>{% block title %}{% endblock %} </title>
  </head>

  <body>
    <nav class="navbar is-link ">
      <div class="container">
	<div class="navbar-brand">
	  <a class="navbar-item" href="/">CruzPort</a>
	  <div id="navbarBurger" class="navbar-burger burger" data-target="navMenu">
	    <span></span>
	    <span></span>
	    <span></span>
	  </div><!-- End of navbar-burger -->
	</div><!-- End of navbar-brand -->
	<div id="navMenu" class="navbar-menu has-text-centered">
	  <div class="navbar-start">
	    <a class="navbar-item" href="/">Home &nbsp; <i class="fas fa-home"></i></a>
	    <a class="navbar-item" href="{% slugurl 'project' %}">Projects &nbsp; <i class="fas fa-project-diagram"></i></a>
	    <a class="navbar-item" href="{% slugurl 'blog' %}">Blog &nbsp; <i class="far fa-newspaper"></i></a>
	  </div>
	  <div class="navbar-end">
	    <a class="navbar-item" href="http://Github.com/CruzNY"><span class="is-hidden-desktop">GitHub</span>&nbsp; <i class="fab fa-github"></i></a>
	    <a class="navbar-item" href="https://www.linkedin.com/in/alexis-cruz-nycct/"><span class="is-hidden-desktop">linkedIn </span>&nbsp;<i class="fab fa-linkedin"></i></a>
	  </div><!-- End of navbar-end -->
	</div><!-- End of navbar-menu -->
      </div><!-- End of container -->
    </nav><!-- End of nav -->
    {% block content %}

    {% endblock %}
    <footer class="footer">
      <div class="container">
	<div class="content has-text-centered">
	  <p><strong>CruzPort</strong> website created by Alexis Cruz</p>
	  <p>Powered by <a href="Http://Bulma.io">Bulma</a> and <a href="Http://Djangoproject.com">Django</a>
	  </p>
	</div><!-- End of content -->
      </div><!-- End of container -->
    </footer><!-- End of footer -->
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
      // Get all "navbar-burger" elements
      var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {
      // Add a click event on each of them
      $navbarBurgers.forEach(function ($el) {
      $el.addEventListener('click', function () {
      // Get the target from the "data-target" attribute
      var target = $el.dataset.target;
      var $target = document.getElementById(target);
      // Toggle the class on both the "navbar-burger" and the "navbar-menu"
      $el.classList.toggle('is-active');
      $target.classList.toggle('is-active');
      });
      });
      }
      });
    </script>
  </body>
</html>
